/******************************************************************************
***********************       Import font      ********************************
******************************************************************************/

@font-face {
    font-family: "Jost-Medium";
    src: url("/_assets/fonts/Jost-Medium.ttf");
}
@font-face {
    font-family: "Jost-Regular";
    src: url("/_assets/fonts/Jost-Regular.ttf");
}

/******************************************************************************
*************************       use font      *********************************
******************************************************************************/

body{
    font-family: "Jost-Regular";
}
h1{
    font-family: "Jost-Medium";
}