/******************************************************************************
*********************** Import font ********************************
******************************************************************************/

@font-face {
    font-family: "Jost-Medium";
    src: url("https://yuta.alwaysdata.net//_assets/fonts/Jost-Medium.ttf");
}

@font-face {
    font-family: "Jost-Regular";
    src: url("https://yuta.alwaysdata.net//_assets/fonts/Jost-Regular.ttf");
}

/******************************************************************************
****************************** use font ***************************************
******************************************************************************/

body, h1, .form-control, .form-control:focus, .form-control::placeholder {
    font-family: 'Jost', sans-serif;
}

/******************************************************************************
******************************** Other ****************************************
******************************************************************************/

h1 {
    font-size: 170%;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 13%;
}

::placeholder{
    font-size: 75%;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.form-control {
    background-color: #d8c0ff;
    border-color: #d8c0ff;
    color: black;
}

.form-control:focus {
    box-shadow: none;
}

.inputCode{
    flex: 1;
    width: 30px;
    max-width: 50px;
    height: 50px;
    margin: auto;
    text-align: center;
    font-size: 1.25rem;
}

.btn-primary, .btn-primary:hover {
    background: linear-gradient(to right, #7623FD, #8E48FF);
    border-color: #8E48FF;
    color: white;
}

.custom-mt {
    margin-top: 15%;
}

.custom-mb {
    margin-bottom: 10%;
}

#yutaImg {
    height: 80%;
}

.offcanvas-size-full {
    --bs-offcanvas-width: 100% !important;
}

.navbar {
    border-bottom: 1px solid lightgrey;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.btn-ancrage {
    position: fixed;
    bottom: 10%;
    left: 85%;
    border: 0;
    background: #D8C0FF;
}


.secondary {
    background-color: #D8C0FF;
    color: black;
    border-bottom: 1px solid black;
    padding-top: 5%;
    padding-bottom: 5%;
}
.accordion-item {
    color: black;
    border-bottom: 1px solid black;
    padding-top: 5%;
    padding-bottom: 5%;
}
.SearchBar {
    height: 50px;
    font-size: 1.25rem;
    background-color: #d8c0ff;
    border-color: #d8c0ff;
}

.primary, .primary:hover {
    background: linear-gradient(to right, #7623FD, #8E48FF);
    border-color: #8E48FF;
}

.zonemess, .boutonretour, .zonbouton {
    margin: 5% 10% 10%;
}
img.post-pfp{
    border: 3px solid;
    border-color: #D8C0FF;
    padding: 0px;
}
img.post{
    border: 3px solid;
    border-color: #D8C0FF;
    padding: 0px;
    max-width: 350px;
    max-height: 325px;
}
.card-footer{
    border: none;
    background-color: white;
}
.card-header{
    border: none;
    background-color: white;
}
.card-body{
    padding-top: 0.1%;
}
.col-2{
    width: 12%;
}
.Username {
    margin-bottom: 0;
}
.MainContent{
    position: relative;
    top: 50px;
}
#MainSearch{
    position: relative;
    top: 66px;
}
.ListPost div.Post:nth-child(5) ~ div.Post{
    display: none;
}
.btn-cat-form{
    margin-top: 2%;
    margin-bottom: 2%;
}
.btn-outline-primary{
    border-color: #8E48FF;
    color : #8E48FF;
}
.text-body-secondary{
    margin-bottom: 0;
}
.card-body{
    padding-bottom: 2%;
}
#Username-profil{
    padding-top: 3%;
    padding-left: 5%;
}
#FirstLog-profil{
    padding-top: 2%;
    padding-left: 6%;
}
#LastLog-profil{
    padding-top: 2%;
    padding-left: 6%;
}
#icon-calendar{
    padding-right: 2%;
    padding-top: 0.5%;
}
#icon-calendar2{
    padding-right: 2%;
    padding-top: 0.5%;
}
#Btn-profil{
    padding-top: 5%;
    padding-bottom: 5%;
}
.nav-link{
    color: #8E48FF;
}
.link{
    color: inherit;
    text-decoration: none;
}
#SearchSelectDiv{
    width: 85%;
}
#SearchBtnDiv{
    padding-left: 3%;
}
#BtnSearchCat{
    padding: 17%;
}
#SearchCat_selectDiv{
    width: 190%;
}
#SearchCat_DivBtn{
    padding-left: 5%;
    padding-top: 1.5%;
}
#SearchCat_labelBtn{
    padding-top: 30%;
    padding-bottom: 36%;
}/* Bouton LoadMore */
.btn-load{
    background-color: white;
    color: #7623FD;
    border-top: solid 1px darkgrey;
    border-bottom: solid 1px darkgrey;
    border-radius: 0;
}
.text-center{
    padding-top: 9%;
}
/* Default styles for the sidebar */
#navbar-settings {
    width: 280px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    z-index: 1;
    padding: 20px;
    transition: all 0.3s; /* Add a smooth transition effect */
    text-align: center;
}
.nav-link {
    font-size: 2rem;
    margin-bottom: 30px;
    cursor: pointer;
}

/* Media query for smaller screens (adjust as needed) */
@media (max-width: 576px) {
    #navbar-settings {
        width: 100%;
        padding: 20px;
        /*transform: translateX(-100%);*/
        /*transition: transform 0.3s ease;*/
    }
    /* Style pour le titre Yuta*/
    #navbar-settings #title-settings {
        font-size: 3rem; /* Augmenter la taille du texte */
    }
    /*.offcanvas-open #navbar-settings {*/
    /*    transform: translateX(0);*/
    /*}*/
    /*#toggleOffcanvas {*/
    /*    display: block;*/
    /*}*/

    /*#toggleOffcanvas img {*/
    /*    cursor: pointer;*/
    /*}*/

}
@media (min-width: 577px) and (max-width: 768px) {
    #navbar-settings {
        width: 235px; /* Set the width to 200px */
        padding: 20px;
    }
    #navbar-settings a {
        margin-bottom: 20px;
    }
}

/* Media query for screens larger than 768px */
@media (min-width: 769px) {
    #navbar-settings {
        width: 280px; /* Set the width to 280px */
    }
}

/* Add any other styles you want for the sidebar content, such as text color, etc. */

.profile-picture-container {
    position: relative;
}
.status-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: grey;
    border: 2px solid white;
    bottom: 0;
    right: 0;
    position: absolute;
}
/* Ajoutez d'autres classes CSS pour les autres états de statut (inactif, ne pas déranger, invisible) */

/* Styles pour la flèche de retour */
.back-arrow {
    text-decoration: none; /* Supprime la ligne de soulignement */
}

.arrow-left {
    color: purple; /* Couleur violette */
    font-size: 24px; /* Taille plus grande (ajustez selon vos besoins) */
}
#buttonCookies {
    text-align: left;
}
.link-tab{
    font-size: 1rem;
}
#deletePostIconContainer {
    position: absolute;
    top: 10px; /* Ajustez cette valeur en fonction de votre préférence de positionnement verticale */
    right: 10px; /* Ajustez cette valeur en fonction de votre préférence de positionnement horizontale */
}






