<!-- La navBar-->
<nav class="navbar fixed-top bg-light">
    <div class="container-fluid">
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuDeroulant" aria-controls="menuDeroulant">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand mx-auto" href="#">
            <img src="https://yuta.alwaysdata.net/_assets/images/Logo_Yuta_1.PNG" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        </a>
        <h5 class="offcanvas-title">Home</h5>
    </div>
</nav>

<div class="MainContent">
    {{ include ('ListPost.html') }}
</div>

<!-- Le contenu de l'offcanvas menu -->
<div class="offcanvas offcanvas-size-full offcanvas-start" tabindex="-1" id="menuDeroulant">
    <div class="offcanvas-header">
        <nav class="navbar fixed-top bg-light">
            <div class="container-fluid">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                <a class="navbar-brand mx-auto" href="#">
                    <img src="https://yuta.alwaysdata.net/_assets/images/Logo_Yuta_1.PNG" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                </a>
                <h5 class="offcanvas-title">Menu</h5>
            </div>
        </nav>
    </div>
    <div class="offcanvas-body">
        <div class="accordion accordion-flush">
            <div class="accordion-item">
                <form class="row g-3" method="post" action="../../../modules/blog/views/SearchPage.php">
                    <div class="col-md-3">
                        <label for="SearchBar">Rechercher</label>
                            <div class="d-flex">
                                <input class="form-control me-2 SearchBar" id="SearchBar" name="SearchBar" type="search" placeholder="..." aria-label="SearchBar">
                                <label class="btn primary" style="padding-top: 3%;">
                                    <input class="visually-hidden" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                        </svg>
                                </label>
                            </div>
                    </div>
                </form>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CategorieMenu" aria-expanded="false" aria-controls="CategorieMenu">
                        Categories
                    </button>
                </h2>
                <div id="CategorieMenu" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="row mb-3 justify-content-around">
                            <form method="post" action="../../../modules/blog/views/SearchCat.php" class="d-flex">
                                <div id="SearchSelectDiv" class="form-floating col-4">
                                    <select class="form-select form-control" id="CategorieSearch" name="CategorieSearch">
                                        <option value="0" selected>-</option>
                                        {% for cat in categories %}
                                        <option value="{{ cat.getIdCat() }}">{{ cat.getLibelle() }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="CategorieSearch">Catégorie</label>
                                </div>
                                <div id="SearchBtnDiv" class="col-4">
                                    <label id="BtnSearchCat" class="btn primary">
                                        <input class="visually-hidden" type="submit" name="SubmitSearchCat">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                            </svg>
                                    </label>
                                </div>
                            </form>
                        </div>
                        {% if currentUser.isAdmin == true %}
                            <div class="row mb-3">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCategory">
                                    Créer une nouvelle Catégorie
                                </button>
                            </div>
                            <div class="row mb-3">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModifCategory">
                                    Modifier une catégorie
                                </button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <a href="https://yuta.alwaysdata.net/?id_user_profil={{ currentUser.getId() }}" class="btn w-100">
                        <span class="container-fluid d-flex justify-content-between align-items-center">
                            <span class="d-inline">
                                Profil
                            </span>
                            <span class="d-inline">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                            </span>
                        </span>
                    </a>
                </h2>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <a href="/modules/blog/views/settings.php" class="btn w-100">
                        <span class="d-flex justify-content-between align-items-center">
                            <span class="d-inline">Paramètres</span>
                            <span class="d-inline">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/>
                                </svg>
                            </span>
                        </span>
                    </a>
                </h2>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <a class="btn w-100" data-bs-toggle="modal" data-bs-target="#ModalDéco">
                        <span class="container-fluid d-flex justify-content-between align-items-center">
                            <span class="d-inline">
                                Se déconnecter
                            </span>
                            <span class="d-inline">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                </svg>
                            </span>
                        </span>
                    </a>
                </h2>
            </div>
        </div>
    </div>
</div>

{% if currentUser.isAdmin == true %}
    <!--Modal Formulaire créer catégorie -->
    <div class="modal fade" id="createCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Nouvelle Catégorie</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="../../../modules/blog/controllers/createCategory.php">
                        <div class="mb-3">
                            <label for="InputName" style="font-weight: bold" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="InputName" name="InputName" required>
                        </div>
                        <div class="mb-3">
                            <label for="InputDesc" style="font-weight: bold;" class="form-label">Description</label>
                            <textarea class="form-control" id="InputDesc" name="InputDesc" style="height: 200px;"required></textarea>
                        </div>
                        <div class="modal-footer">
                            <input type="reset" class="btn btn-secondary" data-bs-dismiss="modal" value="Fermer">
                            <input type="submit" class="btn btn-primary" value="Créer">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Modal Formulaire Modifier catégorie -->
    <div class="modal fade" id="ModifCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Modifier une Catégorie</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="../../../modules/blog/controllers/ModifyCat.php">
                        <div class="mb-3">
                            <div class="form-floating">
                                <select class="form-select form-control" id="SelectCategorieModif" name="SelectCategorieModif">
                                    <option value="0" selected>-</option>
                                    {% for cat in categories %}
                                    <option value="{{ cat.getIdCat() }}">{{ cat.getLibelle() }}</option>
                                    {% endfor %}
                                </select>
                                <label for="SelectCategorieModif">Catégorie</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="InputModifName" style="font-weight: bold" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="InputModifName" name="InputModifName">
                        </div>
                        <div class="mb-3">
                            <label for="InputModifDesc" style="font-weight: bold;" class="form-label">Description</label>
                            <textarea class="form-control" id="InputModifDesc" name="InputModifDesc" style="height: 200px;"></textarea>
                        </div>
                        <div class="modal-footer">
                            <input type="reset" class="btn btn-secondary" data-bs-dismiss="modal" value="Annuler">
                            <input type="submit" class="btn btn-primary" value="Enregistrer">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<!--Partie formulaire écrire Post -->
<!-- Bouton ancrage -->
<button type="button" class="btn btn-ancrage" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-plus" viewBox="0 0 16 16">
        <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z"/>
        <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z"/>
    </svg>
</button>
<!-- Modal Ecrire post -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ecrire un post</h1>
            </div>
            <div class="modal-body">
                <form action="../../../modules/blog/controllers/createPost.php" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="inputTitre" class="form-label">Titre :</label>
                        <input type="text" class="form-control" id="inputTitre" name="inputTitre" required>
                    </div>
                    <div class="mb-3">
                        <label for="inputImg" class="form-label">Inserer une image</label>
                        <input type="file" class="form-control" id="inputImg" name="inputImg" accept="image/png, image/jpeg">
                    </div>
                    <div class="mb-3">
                        <label for="inputMsg" class="form-label">Entrez votre message</label>
                        <textarea class="form-control" id="inputMsg" name="inputMsg" rows="3" required></textarea>
                    </div>
                    <div class="row g-2">
                        <div class="col-md visually-hidden" id="DivCategorie1">
                            <div class="form-floating">
                                <select class="form-select form-control" id="Categorie1" name="Categorie1">
                                    {% for cat in categories %}
                                        <option value="{{ cat.getIdCat() }}">{{ cat.getLibelle() }}</option>
                                    {% endfor %}
                                </select>
                                <label for="Categorie1">Catégorie</label>
                            </div>
                        </div>
                        <div class="col-md visually-hidden" id="DivCategorie2">
                            <div class="form-floating">
                                <select class="form-select form-control" id="Categorie2" name="Categorie2">
                                    {% for cat in categories %}
                                        <option value="{{ cat.getIdCat() }}">{{ cat.getLibelle() }}</option>
                                    {% endfor %}
                                </select>
                                <label for="Categorie2">Deuxième catégorie</label>
                            </div>
                        </div>
                        <div class="col-md visually-hidden" id="DivCategorie3">
                            <div class="form-floating">
                                <select class="form-select form-control" id="Categorie3" name="Categorie3">
                                    {% for cat in categories %}
                                        <option value="{{ cat.getIdCat() }}">{{ cat.getLibelle() }}</option>
                                    {% endfor %}
                                </select>
                                <label for="Categorie3">Troisème catégorie</label>
                            </div>
                        </div>
                    </div>
                    <div class="btn-cat-form d-flex justify-content-center">
                        <input type="hidden" id="NbselectDisplayed" name="NbselectDisplayed" value="0">
                        <button id="AddCatToPost" type="button" class="btn btn-outline-primary" onclick="addCatPost()">Ajouter un catégorie au post</button>
                    </div>
                    <div class="modal-footer">
                        <input type="reset" class="btn btn-outline-danger" data-bs-dismiss="modal" value="Effacer" onclick="HideCatSelect()">
                        <input type="submit" class="btn primary" value="Envoyer un post">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal déconnexion-->
<div class="modal fade" id="ModalDéco" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="DecoTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="DecoTitle">Déconnexion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Voulez vous vraiment vous déconnecter ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                <a class="btn btn-danger" href="../../../modules/blog/controllers/deconnexion.php">Se déconnecter</a>
            </div>
        </div>
    </div>
</div>