<!-- La navBar-->
<nav class="navbar fixed-top bg-light">
    <div class="container-fluid">
        <a  href="javascript:history.back()" type="button" class="btn" aria-label="Return">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
        </a>
        <a class="navbar-brand mx-auto" href="#">
            <img src="https://yuta.alwaysdata.net/_assets/images/Logo_Yuta_1.PNG" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        </a>
        <h5 class="offcanvas-title">Commentaire</h5>
    </div>
</nav>

<div class="MainContent">

    <div class="card-header">
        <div class="row justify-item-start">
        </div>
    </div>

<!--
post dorigine
-->

<div class="card Post">



    <div class="card-header">
        <div class="row justify-item-start">
            <div class="col-2">
                <img src="{{ post.getAuthor().getProfilePicture() }}" alt="" width="40" height="40" class="post-pfp d-inline-block align-text-top img-flex rounded">
            </div>
            <div class="col-7">
                <p class="Username fw-bold">{{ post.getAuthor().getUsername() }}</p>
                <p class="fw-lighter">&nbsp;{{ post.getSendDate().format('Y-m-d H:i:s') }}</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.TITLE }}</h5>
        <p class="card-text">{{ post.TEXT }}</p>
        {% if post.getPicture() != 'null' %}
        <button type="button" class="btn mx-auto d-block" data-bs-toggle="modal" data-bs-target="#ModalImg">
            <img class="img-fluid img-thumbnail post" src="{{ post.getPicture() }}" alt="">
        </button>
        {% endif %}
        <div class="text-body-secondary">
            {% set Categorie = '' %}

            {% for cat in post.getCategories() %}
                    {% set Categorie = Categorie ~ cat.CATEGORY_NAME ~ ', ' %}
            {% endfor %}

            <div class="categorie"> Dans <strong>{{ Categorie|trim(', ') }}</strong></div>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a class="btn text-body-secondary link" id="like{{ post.getIdPost() }}" href="../../../modules/blog/controllers/LikeManagement.php?ID_POST= {{ post.getIdPost() }}">
            {% if post.IsLike(currentUser.getId()) %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#8E48FF" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
            </svg>
            {% else %}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
            {% endif %}
            <span class="likes-number">{{ post.getLikesNumber() }}</span>
        </a>

        <!-- Btn modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createComment">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            </svg>
            Laisser un commentaire
        </button>

        <!-- Modal -->
        <div class="modal fade" id="createComment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Laisser un Commentaire</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form action="../../../modules/blog/controllers/createComment.php" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="inputImg" class="form-label">Inserer une image</label>
                                <input type="file" class="form-control" id="inputImg" name="inputImg" accept="image/png, image/jpeg">
                            </div>
                            <div class="mb-3">
                                <label for="inputMsg" class="form-label">Entrez votre message</label>
                                <textarea class="form-control" id="inputMsg" name="inputMsg" rows="3" required></textarea>
                            </div>
                            <div class="modal-footer">
                                <input type="reset" class="btn btn-outline-danger" data-bs-dismiss="modal" value="Effacer" onclick="HideCatSelect()">
                                <input type="submit" class="btn primary" value="Envoyer un Commentaire">

                            </div>
                            <input type="hidden" name="postId" value="{{ post.getIdPost() }}">
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

    <div class="MainContent">
        {{ include('ListComment.html', { 'post_id': post.getIdPost() }) }}
    </div>

</div>