<nav class="navbar fixed-top bg-body-tertiary">
    <div class="container-fluid">
        <div class="d-flex">
            <a  href="https://yuta.alwaysdata.net/" type="button" class="btn" aria-label="Return">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
            </a>
            <form method="post" id="NavSearch" class="d-flex" role="search" action="#">
                <input class="SearchBar form-control me-2" id="SearchBar" name="SearchBar" type="search" aria-label="SearchBar" value="{{ searchString }}">
                <button class="btn primary" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</nav>
<div class="MainContent" id="MainSearch">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item flex-fill" role="presentation">
            <div class="d-grid gap-2">
                <button class="nav-link link-tab active" id="Post-tab" data-bs-toggle="tab" data-bs-target="#Post-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Posts</button>
            </div>
        </li>
        <li class="nav-item flex-fill" role="presentation">
            <div class="d-grid gap-2">
                <button class="nav-link link-tab" id="User-tab" data-bs-toggle="tab" data-bs-target="#User-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Utilisateurs</button>
            </div>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="Post-tab-pane" role="tabpanel" aria-labelledby="Post-tab" tabindex="0">
            {% if posts|length > 0 %}
                {% for post in posts %}
                    {% if post.isComment() %}
                        {{ include('Comment.html') }}
                    {% else %}
                        {{ include('Post.html') }}
                    {% endif %}
                {% endfor %}
            {% else %}
                <h5 class="fw-bold text-center"> Il n'y a rien pour le moment</h5>
            {% endif %}
        </div>
        <div class="tab-pane fade" id="User-tab-pane" role="tabpanel" aria-labelledby="User-tab" tabindex="0">
                {% if users|length > 0 %}
                    {% for user in users %}
                            {{ include('User.html') }}
                    {% endfor %}
                {% else %}
                    <h5 class="fw-bold text-center"> Il n'y a rien pour le moment</h5>
                {% endif %}
        </div>
    </div>
</div>