<div class="d-flex flex-column  text-bg-dark" id="navbar-settings">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img src="https://yuta.alwaysdata.net/_assets/images/Logo_Yuta_1_removebg.PNG" alt="Logo" width="70" height="70">
        <span id="title-settings">Yuta</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                Home
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Dashboard
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                Orders
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                Products
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                Customers
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="profile-picture-container">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2 position-relative">
                <div class="status-circle">
                </div>
                </div>
            <strong>chong</strong>
            <span class="status-badge online"></span> <!-- Ajoutez la classe correspondant au statut ici -->
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#" id="onlineStatus">En ligne</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" id="inactiveStatus">Inactif</a></li>
            <li><a class="dropdown-item" href="#" id="dndStatus">Ne pas déranger</a></li>
            <li><a class="dropdown-item" href="#" id="invisibleStatus">Invisible</a></li>

        </ul>
    </div>

</div>

<script>
    const statusCircle = document.querySelector('.status-circle');
    const onlineStatus = document.getElementById('onlineStatus');
    const inactiveStatus = document.getElementById('inactiveStatus');
    const dndStatus = document.getElementById('dndStatus');
    const invisibleStatus = document.getElementById('invisibleStatus');

    onlineStatus.addEventListener('click', () => {
        statusCircle.style.backgroundColor = 'green';
    });

    inactiveStatus.addEventListener('click', () => {
        statusCircle.style.backgroundColor = 'yellow';
    });

    dndStatus.addEventListener('click', () => {
        statusCircle.style.backgroundColor = 'red';
    });

    invisibleStatus.addEventListener('click', () => {
        statusCircle.style.backgroundColor = 'grey';
    });
</script>
